* {
    box-sizing: border-box;
    margin: 15px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.wrapper{
    display: flex;
    flex-flow: row nowrap;
}

.leftMenu {
    border: 1px rgb(0, 211, 248) solid;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    height: 100vh;
}

li[class*=icon] {
    list-style-type: none;
    width: 60%;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
}
li[class*=icon]:hover {
    background-color: rgba(196, 194, 192, 0.76);
    border-radius: 35px;
}


li[class*=bird]:hover {
    background-color: rgba(100, 223, 231, 0.39);
    border-radius: 35px;
}

li.tweet {
    list-style-type: none;
    width: 60%;
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 35px;
}

h4 {
    border: 1px rgb(124, 47, 168) solid;
}

.centerPosts{
    border: 1px rgb(255, 2, 179) solid;
    display: flex;
    flex: 0 0 50%;
}

.rightBar {
    border: 1px rgb(48, 0, 223) solid;
    display: flex;
    flex: 0 0 30%;
}


/*  flex-flow: flex-direction flex-wrap;
        -direction -wrap 
    flex: flex-grow flex-shrink flex-basis 
    	-grow, -shrink: la velocità con cui cambiano larghezza 
        -basis: gestione del width property AL POSTO DI WIDTH SEMPRE 
*/
