html { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: inherit;
}
.wrapper{
    display: flex;
    flex-flow: row nowrap;
}

.leftMenu {
    border: 1px rgb(194, 248, 0) solid;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    justify-content: space-between;
    height: 100vh;
}

li[class*=icon] {
    border: 1px rgb(9, 255, 0) solid;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: 1px rgb(255, 0, 0) solid;
}

span {
    border: 1px rgb(124, 47, 168) solid;
}

.centerPosts{
    border: 1px rgb(255, 2, 179) solid;
    display: flex;
    flex: 0 0 50%;
}

.rightBar {
    border: 1px rgb(48, 0, 223) solid;
    display: flex;
    flex: 0 0 30%;
}


/*  flex-flow: flex-direction flex-wrap;
        -direction -wrap 
    flex: flex-grow flex-shrink flex-basis 
    	-grow, -shrink: la velocità con cui cambiano larghezza 
        -basis: gestione del width property AL POSTO DI WIDTH SEMPRE 
*/
